vsphere_password   = "abc123"
vsphere_datacenter = "int"
vsphere_network    = "vmGuests"
vsphere_resource_pool = "esxi01.int.dischord.org/Resources"
ad_username        = "INT\\rancher"
ad_password        = "abc123"
